*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
    font-family: sans-serif;
}
header{
    
    width: 100%;
    height: 10%;
    margin: 15px 0;

}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;

}
.main-nav .logo{
  
    color:   #415456;
}
.main-nav ul{
    display: flex;
    list-style: none;
   
}
.main-nav li a{
    text-decoration: none;
     color: #999999;
     margin-right: 20px;
     transition: border-bottom 0.2s;
}
.main-nav li a:hover{
    border-bottom: 2px solid #4fa1d7;
    
}
.main-nav .user-name{
    background-color: #ebf8fe;
    color: #7cb9e1;
    padding: 10px 20px ;
    border-radius: 10px;
}
/* home section */
