*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  html, body {
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}
html{
    font-size: 1rem;
    font-family: sans-serif;
    scroll-behavior: smooth;
    width: 100vw;
}
header{
    
    width: 100%;
    height: 10%;
    margin: 15px 0;

}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;

}
.main-nav .logo{
  
    color:   #415456;
}
.main-nav ul{
    display: flex;
    list-style: none;
   
}
.main-nav li a{
    text-decoration: none;
     color: #999999;
     margin-right: 20px;
     transition: border-bottom 0.2s;
}
.main-nav li a:hover{
    border-bottom: 2px solid #4fa1d7;
    
}
.main-nav .user-name{
    background-color: #ebf8fe;
    color: #7cb9e1;
    padding: 10px 20px ;
    border-radius: 10px;
}
/* home section */
.our-services,
footer{
   display: flex;
  align-items: center; 
  justify-content: space-evenly; 
  padding: 30px 60px;

   
}
.home-section{
  display: flex;
  flex-direction: column;

}
.home-top{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
    padding: 0 80px;
    max-width: 50%;
}
.content h1{
    color: #415456;
    font-size: 2.8rem;
    margin-bottom: 5px;
}
.content h1 span{
    color: #3da8f5;
    
}
.content p{
    color: #ababab;
    margin-bottom: 15px;
}

.content button{
    color: #ffff;
    background-color: #3da8f5;
    padding: 20px 25px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
}
.icon-store{
    margin-right: 2px;
}
.img{
    max-width: 45%;
    
}
.achivements{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3ea9fa;
  color: #263641;
  padding: 20px 30px;
  margin: 0 auto;
  width: 80%;
}

.achivement-title{
  flex: 3;              
  font-size: 2rem;
  font-weight: 600;
}


.achivement-item{
  flex: 1;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,0.25);
}

.achivement-item strong{
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
}

.achivement-item span{
  font-size: 0.9rem;
  opacity: 0.9;
}

/* services section */
.our-services{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebeef0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.left-div,
.added-items,
.book-now{
    border: none;
    border-radius: 10px;
    background-color: #ffff;
    padding: 15px;
    margin-right: 15px;
}
.left-div h1,
.right-div h2{
    font-size: 1.8rem;
    color: #415456;
    margin-bottom: 2px;
}
.left-div p:first-of-type{
    color: #999999;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(199, 196, 196);
    text-transform: capitalize;
}
.service{
    display: inline-block;
    color: #415456;
    margin-left: 2px;
    margin-right: 20px;
    padding: 10px 10px;
    text-transform: capitalize;

}
.service:first-of-type{
    margin-top: 10px;
}
table button{
    
    float: inline-end;
    margin-top: 10px;
    background-color: #e9efef;
    color: #415456;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    cursor: pointer;
}
.remove{
    color: rgb(228, 81, 81);
    padding: 10px 30px;
}
button .plus{
    font-size: 1rem;
    margin-left: 2px;

}

.service .price{
    color: #5c66e7;
    margin-left: 10px;
}
.price::before{
    content: "◯";
    color: #999999;
    font-size: 0.4rem;
    margin-right: 4px;
}
table .last{
   padding-bottom: 20px;
    border-bottom: 1px solid rgb(199, 196, 196);
}
.message{

    margin:15px 0;
    color: #5c66e7;
}
.added-items{
    /* margin-bottom: 15px; */
    text-align: center;
    font-weight: 300;
    width: 100%;
}
.added-items table tr:first-child{
    color: #263641;
}
.added-items table {
  width: 100%;
  border-collapse: collapse;
}

.added-items th,
.added-items td {
  padding: 12px 10px;
  text-align: left;
}
.right-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}
.added-items th:last-child,
.added-items td:last-child {
  text-align: right;
}
.book-now {
    width: 100%;
}

.form-group {
    margin-bottom: 12px;
}
.alert-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #999999;
    padding: 30px 0;
}
.alert-lg{
    font-size:  2rem;
}
.amount td {
  font-weight: 600;
  border-top: 1px solid #ddd;
}
.added-items {
  flex: 1;     
}

.final-price {
  text-align: right;
}

.book-now label {
    display: block;
    font-size: 0.9rem;
    color: #415456;
    margin-bottom: 6px;
}
.book-now{
   
    margin-right: 0;
    width: 100%;
}
.form-group input {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid rgba(221, 220, 220, 0.8);
    border-radius: 10px;
    outline: none;
}

.row {
    display: flex;
    gap: 12px;
}

.row .form-group {
    flex: 1;
}

.book-now button {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 5px;
    border: none;
    background: #5b6cff;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    
}
.add-item-cart{
    visibility: hidden;
    color: rgb(228, 81, 81);
    font-size: 1rem;
}
.visible{
    visibility: visible;
}

/* footer section */
footer{
    background-color: #ffff;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.row img{
    display: block;
    height: 100px;
    margin: 5px auto;
    

}
.row h4{
    color: #4f4f51;
    font-size: 1.4rem;
    margin: 5px 0;
}
.row p{
    color: #999999;
    font-size: 1rem;
}
.footer-service{
    text-align: center;
    padding: 0 30px;
}
.middle-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscibe{
    background-color: #3ea9fa;  
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding:40px;
    margin-top: 20px;
}
.subscibe h4{
    color: #ffffff;
    font-size: 2rem;
    margin-right: 20px;
}
.subscibe input{
    height: 40px;
    width: 35%;
    font-size: 0.9rem;
    background-color: #4bb5f9;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    cursor: pointer;
   
}
.subscibe input::placeholder{
     color: #dcd6d6;
     padding: 10px;
}
.subscibe input[type=submit]{
    background-color: #ffffff;
    color:#3ea9fa;
    font-weight: 400;
}

.footer-links{
    background-color: #ebeef0;
    padding: 30px 30px;

}
.row{
    color: #999999;
}
.row ul{
    list-style: none;
}
.link h5{
    color:#415456;
    font-size: 1rem;
    margin-bottom: 5px;
}
.row .link{
    width: 20%;
}
.row ul a,
.row p a{
    text-decoration: none;
    color: #999999;
}
.row .logo{
    font-size: 1.5rem;
    color: #4f4f51;
    font-weight: 600;
    margin-bottom: 5px;
}
.social-link ul li{
    display:inline-block;
    margin-left: 5px;
}
.social-link ul a{
    font-size: 1.6rem;
    font-weight: 600;
    color: #4f4f51;
}
footer{
    padding-bottom: 0;
}